pandas digunakan untuk membacabaca data dari file CSV di lokasi tertentu. Kemudian data itu dimasukkan ke dalam DataFrame. Kemudian, kita  dapat melakukan berbagai operasi analisis dan manipulasi data menggunakan berbagai fungsi yang disediakan oleh pandas.

In [13]:
import pandas as pd
dataset = pd.read_csv('D:\AI\drug200.csv')

In [ ]:
Ini seperti memberitahu untuk menampilkan semua data yang ada di tabel data kita. Jadi kalo kita mau liat semua datanya, tinggal pakai print(dataset).

In [14]:
print(dataset)

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [ ]:
 jika ingin melihat nama-nama kolom yang ada dalam DataFrame dataset, cukup menggunakan dataset.columns.

In [15]:
dataset.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [ ]:
Ini kayak mengambil sebagian kolom-kolom dari tabel data. Jadi, kalo mau pake data dari kolom
'Age', 'Sex', 'BP', 'Cholesterol', sama 'Na_to_K',
menggunakan x = dataset[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']].

In [16]:
x = dataset[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K',]]
print(x)

     Age Sex      BP Cholesterol  Na_to_K
0     23   F    HIGH        HIGH   25.355
1     47   M     LOW        HIGH   13.093
2     47   M     LOW        HIGH   10.114
3     28   F  NORMAL        HIGH    7.798
4     61   F     LOW        HIGH   18.043
..   ...  ..     ...         ...      ...
195   56   F     LOW        HIGH   11.567
196   16   M     LOW        HIGH   12.006
197   52   M  NORMAL        HIGH    9.894
198   23   M  NORMAL      NORMAL   14.020
199   40   F     LOW      NORMAL   11.349

[200 rows x 5 columns]

In [ ]:
Ini kayak mengambil satu kolom dari tabel data, yaitu kolom 'Drug'. Jadi, kalo kita mau pake data dari kolom
'Drug', tinggal pakai y = dataset[['Drug']].

In [17]:
y = dataset[['Drug']]
print(y)

      Drug
0    DrugY
1    drugC
2    drugC
3    drugX
4    DrugY
..     ...
195  drugC
196  drugC
197  drugX
198  drugX
199  drugX

[200 rows x 1 columns]

In [18]:
import sklearn
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [19]:
dataset = pd.get_dummies(dataset)

In [20]:
print(dataset)

     Age  Na_to_K  Sex_F  Sex_M  BP_HIGH  BP_LOW  BP_NORMAL  Cholesterol_HIGH  \
0     23   25.355   True  False     True   False      False              True
1     47   13.093  False   True    False    True      False              True
2     47   10.114  False   True    False    True      False              True
3     28    7.798   True  False    False   False       True              True
4     61   18.043   True  False    False    True      False              True
..   ...      ...    ...    ...      ...     ...        ...               ...
195   56   11.567   True  False    False    True      False              True
196   16   12.006  False   True    False    True      False              True
197   52    9.894  False   True    False   False       True              True
198   23   14.020  False   True    False   False       True             False
199   40   11.349   True  False    False    True      False             False

     Cholesterol_NORMAL  Drug_DrugY  Drug_drugA  Drug_drugB  Drug_drugC  \
0                 False        True       False       False       False
1                 False       False       False       False        True
2                 False       False       False       False        True
3                 False       False       False       False       False
4                 False        True       False       False       False
..                  ...         ...         ...         ...         ...
195               False       False       False       False        True
196               False       False       False       False        True
197               False       False       False       False       False
198                True       False       False       False       False
199                True       False       False       False       False

     Drug_drugX
0         False
1         False
2         False
3          True
4         False
..          ...
195       False
196       False
197        True
198        True
199        True

[200 rows x 14 columns]

In [21]:
print(dataset.isnull().sum())

Age                   0
Na_to_K               0
Sex_F                 0
Sex_M                 0
BP_HIGH               0
BP_LOW                0
BP_NORMAL             0
Cholesterol_HIGH      0
Cholesterol_NORMAL    0
Drug_DrugY            0
Drug_drugA            0
Drug_drugB            0
Drug_drugC            0
Drug_drugX            0
dtype: int64

In [22]:
print(dataset[dataset.duplicated()])

Empty DataFrame
Columns: [Age, Na_to_K, Sex_F, Sex_M, BP_HIGH, BP_LOW, BP_NORMAL, Cholesterol_HIGH, Cholesterol_NORMAL, Drug_DrugY, Drug_drugA, Drug_drugB, Drug_drugC, Drug_drugX]
Index: []

In [30]:
print(dataset)

     Age  Na_to_K  Sex_F  Sex_M  BP_HIGH  BP_LOW  BP_NORMAL  Cholesterol_HIGH  \
0     23   25.355      1      0        1       0          0                 1
1     47   13.093      0      1        0       1          0                 1
2     47   10.114      0      1        0       1          0                 1
3     28    7.798      1      0        0       0          1                 1
4     61   18.043      1      0        0       1          0                 1
..   ...      ...    ...    ...      ...     ...        ...               ...
195   56   11.567      1      0        0       1          0                 1
196   16   12.006      0      1        0       1          0                 1
197   52    9.894      0      1        0       0          1                 1
198   23   14.020      0      1        0       0          1                 0
199   40   11.349      1      0        0       1          0                 0

     Cholesterol_NORMAL  Drug_DrugY  Drug_drugA  Drug_drugB  Drug_drugC  \
0                     0           1           0           0           0
1                     0           0           0           0           1
2                     0           0           0           0           1
3                     0           0           0           0           0
4                     0           1           0           0           0
..                  ...         ...         ...         ...         ...
195                   0           0           0           0           1
196                   0           0           0           0           1
197                   0           0           0           0           0
198                   1           0           0           0           0
199                   1           0           0           0           0

     Drug_drugX
0             0
1             0
2             0
3             1
4             0
..          ...
195           0
196           0
197           1
198           1
199           1

[200 rows x 14 columns]

In [ ]:
Ini seperti menyimpan semua data dari tabel kita ke dalam sebuah file CSV yang namanya 
'cleaned_dataset.csv'. Jadi, kalo kita mau simpan datanya, tinggal 
pakai dataset.to_csv('cleaned_dataset.csv', index=False).

In [33]:
dataset.to_csv('cleaned_dataset.csv', index=False)
print("Clean data selesai sebagai 'cleaned_dataset.csv'.")

Clean data selesai sebagai 'cleaned_dataset.csv'.

In [36]:
print (dataset)

     Age  Na_to_K  Sex_F  Sex_M  BP_HIGH  BP_LOW  BP_NORMAL  Cholesterol_HIGH  \
0     23   25.355   True  False     True   False      False              True
1     47   13.093  False   True    False    True      False              True
2     47   10.114  False   True    False    True      False              True
3     28    7.798   True  False    False   False       True              True
4     61   18.043   True  False    False    True      False              True
..   ...      ...    ...    ...      ...     ...        ...               ...
195   56   11.567   True  False    False    True      False              True
196   16   12.006  False   True    False    True      False              True
197   52    9.894  False   True    False   False       True              True
198   23   14.020  False   True    False   False       True             False
199   40   11.349   True  False    False    True      False             False

     Cholesterol_NORMAL  Drug_DrugY  Drug_drugA  Drug_drugB  Drug_drugC  \
0                 False        True       False       False       False
1                 False       False       False       False        True
2                 False       False       False       False        True
3                 False       False       False       False       False
4                 False        True       False       False       False
..                  ...         ...         ...         ...         ...
195               False       False       False       False        True
196               False       False       False       False        True
197               False       False       False       False       False
198                True       False       False       False       False
199                True       False       False       False       False

     Drug_drugX
0         False
1         False
2         False
3          True
4         False
..          ...
195       False
196       False
197        True
198        True
199        True

[200 rows x 14 columns]

In [ ]:
Ini kayak cara buat simpan tabel data kita ke dalam sebuah file CSV yang namanya
'cleaned_dataset.csv'. Jadi, kalo mau simpan datanya,
tinggal pakai dataset.to_csv('cleaned_dataset.csv', index=False).

In [37]:
dataset.to_csv('cleaned_dataset.csv', index=False)

In [38]:
print("Clean data selesai sebagai 'cleaned_dataset.csv'.")

Clean data selesai sebagai 'cleaned_dataset.csv'.

In [39]:
dataset.columns

Index(['Age', 'Na_to_K', 'Sex_F', 'Sex_M', 'BP_HIGH', 'BP_LOW', 'BP_NORMAL',
       'Cholesterol_HIGH', 'Cholesterol_NORMAL', 'Drug_DrugY', 'Drug_drugA',
       'Drug_drugB', 'Drug_drugC', 'Drug_drugX'],
      dtype='object')

In [ ]:
Ini sepertti mengambil beberapa kolom dari tabel data kita dan disimpan dalam variabel baru yang namanya x. Jadi, kalo kita mau pake data dari
kolom-kolom tersebut, tinggal pakai x = dataset[['Age', 'Na_to_K', 'Sex_F', 'Sex_M', 'BP_HIGH', 'BP_LOW', 'BP_NORMAL', 'Cholesterol_HIGH', 
'Cholesterol_NORMAL']].

In [40]:
x = dataset[['Age', 'Na_to_K', 'Sex_F', 'Sex_M', 'BP_HIGH', 'BP_LOW', 'BP_NORMAL',
       'Cholesterol_HIGH', 'Cholesterol_NORMAL']]

In [41]:
print(x)

     Age  Na_to_K  Sex_F  Sex_M  BP_HIGH  BP_LOW  BP_NORMAL  Cholesterol_HIGH  \
0     23   25.355      1      0        1       0          0                 1
1     47   13.093      0      1        0       1          0                 1
2     47   10.114      0      1        0       1          0                 1
3     28    7.798      1      0        0       0          1                 1
4     61   18.043      1      0        0       1          0                 1
..   ...      ...    ...    ...      ...     ...        ...               ...
195   56   11.567      1      0        0       1          0                 1
196   16   12.006      0      1        0       1          0                 1
197   52    9.894      0      1        0       0          1                 1
198   23   14.020      0      1        0       0          1                 0
199   40   11.349      1      0        0       1          0                 0

     Cholesterol_NORMAL
0                     0
1                     0
2                     0
3                     0
4                     0
..                  ...
195                   0
196                   0
197                   0
198                   1
199                   1

[200 rows x 9 columns]

In [42]:
y = dataset[['Drug_DrugY', 'Drug_drugA',
       'Drug_drugB', 'Drug_drugC', 'Drug_drugX']]

In [43]:
print(y)

     Drug_DrugY  Drug_drugA  Drug_drugB  Drug_drugC  Drug_drugX
0             1           0           0           0           0
1             0           0           0           1           0
2             0           0           0           1           0
3             0           0           0           0           1
4             1           0           0           0           0
..          ...         ...         ...         ...         ...
195           0           0           0           1           0
196           0           0           0           1           0
197           0           0           0           0           1
198           0           0           0           0           1
199           0           0           0           0           1

[200 rows x 5 columns]

In [ ]:
Kode ini membagi dataset menjadi dua bagian: satu untuk melatih model (x_train dan y_train) dan satu untuk menguji model (x_test dan y_test).
Ini bermanfaat untuk mengevaluasi seberapa baik model bekerja pada data yang tidak digunakan selama pelatihan.

In [41]:
import sklearn
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=1)

In [ ]:
Ini memberi tau kita berapa banyak sampel yang ada dalam dataset pengujian (x_test). Jadi kalo kita mau tau jumlahnya, 
tinggal pakai len(x_test).

In [42]:
len(x_test)

40

In [ ]:
sama seperti len x, ini memberitahu kita berapa banyak sampel yang ada dalam dataset pengujian. jadi jika ingin mengetahui jumlahnya
menggunakan len(y_train)

In [43]:
len(y_train)

160

In [ ]:
Kode ini buat model klasifikasi menggunakan pohon keputusan (Decision Tree) dari library sklearn. Objek model disimpan dalam variabel clf.

In [46]:
from sklearn import tree

clf = tree.DecisionTreeClassifier()

In [ ]:
ini memberi tahu seberapa baik model klasifikasi (clf) bekerja menggunakan validasi silang dengan 5 lipatan (cv=5). 
Hasilnya disimpan dalam variabel scores.

In [48]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(clf, x, y, cv=5)

In [ ]:
Variabel scores menyimpan skor hasil dari validasi silang yang menunjukkan seberapa baik model klasifikasi
bekerja pada setiap lipatan validasi silang.

In [49]:
scores

array([1.   , 1.   , 1.   , 0.925, 1.   ])